*{
	font-family: 'Roboto', sans-serif;
	padding: 0;
	margin: 0;
}

/* stick the footer to the bottom*/
.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.Site-content {flex: 1;}

/* slider */
.slider{
	margin-top: 1vh;
}

.slider .indicators .indicator-item.active{
	background-color: #42A5F5;
}

.slider-images{
	box-shadow:0 0 0 500px rgba(0, 0, 0, 0.30) inset;
}



/* Catalog style*/

.catalog-block{
	min-height: 300px;
	margin: 20px 4vw;
}



/*price style*/
@import url(https://fonts.googleapis.com/css?family=Cookie);

[v-cloak] {
  display: none;
}



a:hover{
	text-decoration:none;
}

section, footer, header, aside, nav{
	display: block;
}

/*-------------------------
	Форма заказа
--------------------------*/

form#price{
	background-color: #42A5F5;
	border-radius: 2px;
	box-shadow: 0 1px 1px #ccc;
	width: 66%;
	padding: 35px 60px;
	margin: 50px auto;
}

form#price h2{
	color:#fff;
	font-size:64px;
	font-family:'Cookie', cursive;
	font-weight: normal;
	line-height:1;
	text-shadow:0 3px 0 rgba(0,0,0,0.1);
}

form#price ul{
	list-style:none;
	color:#fff;
	font-size:20px;
	font-weight:bold;
	text-align: left;
	margin:20px 0 15px;
}

form#price ul li{
	padding:20px 30px;
	background-color:#e35885;
	margin-bottom:8px;
	box-shadow:0 1px 1px rgba(0,0,0,0.1);
	cursor:pointer;
}

form#price ul li span{
	float:right;
}

form#price ul li.active{
	background-color:#8ec16d;
}

div.total{
	border-top:1px solid rgba(255,255,255,0.5);
	padding:15px 30px;
	font-size:20px;
	font-weight:bold;
	text-align: left;
	color:#fff;
}

div.total span{
	float:right;
}
input{
	list-style:none;
	color:#fff;
	font-size:20px;
	font-weight:bold;
	text-align: left;
	margin:20px 0 15px;
}
#parameters{
	border-bottom:2px solid #9E9E9E;
}
#parameters:focus{
	border-bottom: 2px solid #1B71C6;
	-webkit-box-shadow: none;
    box-shadow: none; 
	}  