*{
	font-family: 'Roboto', sans-serif;
	padding: 0;
	margin: 0;

}

/* slider */
.slider{
	margin-top: 1vh;
}

.slider .indicators .indicator-item.active{
	background-color: #42A5F5;
}

.slider-images{
	box-shadow:0 0 0 500px rgba(0, 0, 0, 0.30) inset;
}



/* Catalog style*/
#catalog-item{
	margin: 5px 10px;
	height: 200px;
	min-width: 210px;
	border: 1px solid black;
	padding: 0;
	overflow: hidden;
	text-align: center;
}

.img-item{
	height: 120%;	
}
