<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="css/materialize.css" type="text/css" media="screen,projection"/>
	<link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
	<link rel="shortcut icon" href="img/minilogo.png">
	<title>ExcaPool - Наши работы</title>
</head>
<body class="Site">
	<!-- Начало header -->
	<header> 
		<nav> <!-- Навигация и лого -->
			<div  class="nav-wrapper  blue lighten-1">
				<a href="index.html" class="brand-logo" id="mainLogo">ExcaPool</a>
				<a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>

				<ul class="right hide-on-med-and-down" id="mainMenu">
					<li><a href="index.html">Главная</a></li>
					<li><a href="Catalog.html">Каталог</a></li>
					<li><a href="Price.html">Калькулятор цен</a></li>
					<li><a href="About.html">О нас</a></li>
					<li><a href="Contacts.html">Контакты</a></li>
				</ul>
			</div>
		</nav>
		<!-- Навигация на мобильных устройствах -->
		<ul class="sidenav" id="mobile-demo">
			<li><a href="index.html">Главная</a></li>
			<li><a href="Catalog.html">Каталог</a></li>
			<li><a href="Price.html">Калькулятор цен</a></li>
			<li><a href="About.html">О нас</a></li>
			<li><a href="Contacts.html">Контакты</a></li>
		</ul>
	</header>
	<!-- Конец header -->
	
	<main class="Site-content">  

		<form id="price" v-cloak>

			<h2 class="center" >Услуги за 1 кубический метр</h2>

			<ul>
				<li v-for="service in services" v-on:click="toggleActive(service)" v-bind:class="{ 'active': service.active}">
					{{service.name}}<span>{{service.price}}&#8381</span>
				</li>
				<li  v-for="m3 in m3 "  v-bind:class="{ 'active': m3.active}"><div class="tooltip">
					{{m3.name}}<span>{{m3.qwert}}</span>
					<input id="parameters" type="text" v-model="m3.qwert"/>
				</div>
			</li>
		</div>
	</ul>

	<div class="total">
		Объем:	<span>{{objem() }}</span>
		<br>
		Итого: <span>{{total()}}&#8381</span>
	</div>
</form>

</main>

<footer class="page-footer blue darken-2">
	<div class="container">
		<div class="row">
			<div class="col l6 s12">
				<h5 class="white-text">ExcaPool</h5>
				<p class="grey-text text-lighten-4">Бассейны – удивительное место для отдыха и веселья, и вряд ли кто-то отказался хотя бы от небольшого лягушатника на своём участке. Когда же речь заходит о шикарных сооружениях, то воображение рисует роскошные картины где-то в пятизвёздочных отелях. Но на самом деле даже они меркнут в сравнении с самыми дорогими бассейнами в мире.</p>
			</div>
			<div class="col l4 offset-l2 s12">
				<h5 class="white-text">Ссылки</h5>
				<ul>
					<li><a class="grey-text text-lighten-3"  href="index.html">Главная</a></li>
					<li><a class="grey-text text-lighten-3"  href="Catalog.html">Каталог</a></li>
					<li><a  class="grey-text text-lighten-3" href="Projects.html">Калькулятор цен</a></li>
					<li><a class="grey-text text-lighten-3"  href="About.html">О нас</a></li>
					<li><a  class="grey-text text-lighten-3" href="Contacts.html">Контакты</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container">
			© 2019 Все права защищены
		</div>
	</div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.5/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.22/dist/vue.js"></script>
<script src="script/jquery-3.3.1.min.js"></script>      
<script src="script/materialize.js"></script> 
<script src="script/script.js"></script>  
</body>
</html>